:root {
  --background-color: #ffffff;
  --general-color: #757575;
  --accent-color: #2196f3;
  --secondary-color: #212121;
  --secondary-background: #f5f4fa;
  --background-hero-footer: #2f303a;
  --primary-white: #ffffff;
  --contact-footer: rgba(255, 255, 255, 0.6);
  --logo-studio: #000000;
  --buton-hero-hover: #188ce8;
  --border-color: rgba(238, 238, 238, 1);
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* вторичный цвет #212121*/
/* Цвет героя #FFFFFF фон #2F303A*/
/* Кнопка цвет текста #FFFFFF цвет заливки #2196F3 */
/* jосновной цвет #757575 */
/* лого #2196F3 #000000 */
/* главный цвет фона #E5E5E5 */
/* вторичный цвет фона #F5F4FA */
/* цвет наведения #2196F3 */

body {
  background-color: var(--background-color);
  color: var(--general-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.14;
}
/* Header */
.main-nav {
  display: flex;
  align-items: center;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-top: 94px;
  padding-left: 15px;
  padding-bottom: 94px;
  padding-right: 15px;
}
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.studio {
  color: var(--logo-studio);
}
.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
/* Site-nav */
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-color);
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link-current {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--accent-color);
}
.contact-nav {
  display: flex;
  margin-left: auto;
}
.contact-item + .contact-item {
  margin-left: 50px;
}
.contact-nav .contact-link {
  color: var(--general-color);
  text-decoration: none;
}
.contact-nav .contact-link:hover,
.contact-nav .contact-link:focus {
  color: var(--accent-color);
}

/* Style Hero */
.heroes,
.hero-title {
  margin-top: 0px;

  color: var(--primary-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  vertical-align: top;
  text-transform: uppercase;
}
.heroes {
  background-color: var(--background-hero-footer);
  text-align: center;
}
.hero-title {
  margin-bottom: 30px;
}
/* Section */
.features {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}
.features-item:not(:last-child) {
  margin-right: 30px;
}

.section-title {
  margin-top: 0px;
  margin-bottom: 0;
}
.title {
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--secondary-color);
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
}
.text-features {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
/* Works */
.works-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.works-container {
  display: flex;
  flex-wrap: wrap;
}

.works-item {
  width: 370px;
  margin-right: 30px;
}
.works-item:nth-child(3) {
  margin-right: 0px;
}

/* Team */
.team-container {
  display: flex;
  flex-wrap: wrap;
}
.team-item {
  /* width: calc((100%-90)/4); */
  width: 270px;
  margin-right: 30px;
  margin-bottom: 0px;
}
.team-item:nth-child(4) {
  margin-right: 0px;
}
.section-team {
  margin-bottom: 0px;
  background-color: var(--secondary-background);
}
.command-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-family: "Roboto" sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.team-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
.position {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: left;
  vertical-align: top;
  text-align: center;
}

/* Portfolio */
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.flex-element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
}
.flex-element:nth-child(3n) {
  margin-right: 0px;
}
.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

/* Buttons */
.button-hero,
.button-hero:focus {
  display: inline-block;
  min-width: 200px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--primary-white);
  background-color: var(--accent-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.button-hero:hover {
  background-color: var(--buton-hero-hover);
}
.button-all,
.button-all:focus {
  display: inline-block;
  min-width: 73px;
  color: var(--primary-white);
  background-color: var(--accent-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.button-portfolio {
  min-width: 145px;
  border-radius: 4px;
  color: var(--secondary-color);
  background-color: var(--secondary-background);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;
  border: none;
  display: inline-block;
}
.container-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.btn-item {
  margin-right: 9px;
}

.btn-item:nth-child(5n) {
  margin-right: 0px;
}

.portfolio .link-active:hover {
  background-color: var(--accent-color);
  color: var(--primary-white);
}
.portfolio {
  margin-top: 0px;
}
.portfolio-title {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: left;
  vertical-align: top;
  letter-spacing: 0.06em;
}
.discription {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}

.footer {
  color: var(--primary-white);
  background-color: var(--background-hero-footer);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.logo-footer {
  display: flex;
  margin-bottom: 20px;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.footer-adress {
  margin-top: 0px;
  margin-bottom: 9px;
}
.mail-footer {
  display: flex;
  margin-bottom: 9px;
}

.footer .studio-footer {
  color: var(--primary-white);
}

.list .text-footer {
  color: var(--primary-white);
  text-decoration: none;
  font-style: normal;
}
.contact-footer {
  color: var(--contact-footer);
  text-decoration: none;
  font-style: normal;
}
.adsdress-contact {
  font-style: normal;
}
