@mixin container {
  margin-left: auto;
  margin-right: auto;
  width:1200px;
  padding-left: 15px;
  padding-right: 15px;

}
@mixin list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
@mixin section {
  padding-top: 94px;
  padding-bottom: 94px;
}
@mixin padding__bottom--zero {
  padding-bottom: 0px;
}
